<a href="https://colab.research.google.com/github/Deriverx2/python_lab_/blob/main/python-notebook/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print('hello world')

hello world

datatypes

In [ ]:
a=5
print (type(a))

<class 'int'>

In [ ]:
a=5.5
print(type(a))

<class 'float'>

In [ ]:
print(type("hello"))

<class 'str'>

In [ ]:
b=True
print(b)
print(type(b))

True
<class 'bool'>

In [ ]:
t=5+3j
print(type(t))

<class 'complex'>

arithmetic operators

In [ ]:
a=7
b=8
sum=a+b
print(sum)

15

In [ ]:
a=9
b=1
diff=a-b
print(diff)

8

In [ ]:
a=2
b=3
product=a*b
print(product)

6

In [ ]:
a=10
b=3
quotient=a//b
print(quotient)

3

In [ ]:
a=1
b=2
rem=b%a
print(rem)

0

In [ ]:
a=2
b=5
power=a**b
print(power)

32

In [ ]:
a=4
b=5
c=6
avg=(a+b+c)/3
print(avg)

5.0

In [ ]:
#display name,course and address
name=input("enter name ")
college=input("enter college name ")
course=input("enter course name ")
print("name: ",name.capitalize(),"\n","college: ",college,'\n',"course: ",course,)

enter name
enter college name
enter course name
name:
 college:
 course:

In [ ]:
s="hello"
u="world"
print(s)
print(u)

hello
world

In [ ]:
s1="python"
s2="world"
s3=s1+" "+s2
print(s3)

python world

In [ ]:
#length of characters
print(len(s3))

12

In [ ]:
#Full capital
print(s3.upper())

PYTHON WORLD

In [ ]:
#first letter capital
print(s3.capitalize())

Python world

In [ ]:
#Full lower case
print(s3.lower())

python world

In [ ]:
#split operation
print("how are you".split())

['how', 'are', 'you']

In [ ]:
#replace operation
print("book".replace('o','e'))

beek

In [ ]:
#find operation
word="jewellery"
print(word.find('well'))
print(word.find('is'))

2
-1

if-else conditional

In [ ]:
#three digit number or not
number=int(input('ENTER AN INTEGER '))
if number>99 and number<1000:
  print('3 digit')
else:
    print('not 3 digit')

ENTER AN INTEGER 3
not 3 digit

In [ ]:
#while loop
m=int(input("L"))
n=int(input("U"))cusat-Veriton-S2670G
step=int(input("step"))
i=mcusat-Veriton-S2670Gcusat-Veriton-S2670G
while i<=n:
  print(i)
  i=i+step

L0
U100
step8
0
8
16
24
32
40
48
56
64
72
80
88
96

In [ ]:
#factors of number
c=0
n=int(input("Enter a number"))
f=1
while f<=n:
  if n%f==0:
    print(f)
  f=f+1

Enter a number100
1
2
4
5
10
20
25
50
100

In [ ]:
#checking if prime
c=0
n=int(input("Enter a number="))
f=2
while f<=n//2:
  if n%f==0:
    c=c+1
    break
  f=f+1
if c==0:
  print(n,"is prime")
else:
  print(n,"is not prime")

Enter a number=101
101 is prime

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

Raptor to Python

In [ ]:
#average of 3 numbers
x=int(input("enter a number "))
y=int(input("enter a number "))
z=int(input("enter a number "))
avg=(x+y+z)/3
print("average is ",avg)

enter a number 12
enter a number 12
enter a number 12
average is  12.0

In [ ]:
#area and perimeter of triangle
x=int(input("enter side of triangle "))
y=int(input("enter side of triangle  "))
z=int(input("enter side of triangle "))
perimeter=x+y+z
print("perimeter of triangle is",perimeter)
s=perimeter/2
area=(s*(s-x)*(s-y)*(s-z))**0.5
print("area of circle is",area)

enter side of triangle 1
enter side of triangle  1
enter side of triangle 1
perimeter of triangle is 3
area of circle is 0.4330127018922193

In [ ]:
 #area and circumference of a circle
 r=int(input("Enter radius of circle "))
 pi=3.14 
 area=pi*r*r
 circum=2*pi*r
 print("area of cicle",area)
 print("cicumference of cicle",circum)

enter radius of circle 10
area of cicle 314.0
cicumference of cicle 62.800000000000004

In [ ]:
#Convert time entered in seconds to hours,minutes and seconds
t=int(input("Enter time in seconds "))
h= (t//3600)
m= (t%3600)//60
s= t-(h*600)-(m*60)
print("Hour: ",h)
print("Minutes: ",m)
print("Seconds: ",s)

Enter time in seconds  400
Hour:  0
Minutes:  6
Seconds:  40

In [ ]:
#interchange 2 unequal numbers without using third variable
a=int(input("Enter number a="))
b=int(input("Enter number b="))
a=a+b
b=a-b
a=a-b
print("a=",a)
print("b=",b)

Enter number a=10
Enter number b=11
a= 11
b= 10

In [ ]:
#arithmetic operations
a=int(input("Enter number a="))
b=int(input("Enter number b="))
print("sum=",a+b)
print("difference=",a-b)
print("product=",a*b)
print("quotient=",a//b)

Enter number a=11
Enter number b=12
sum= 23
difference= -1
product= 132
quotient= 0

In [ ]:
#Convert days into year,month and days
t=int(input("Enter number of days "))
year=t//365
month=(t%365)//30
days=(t-(year*365)-(month*30))
print("year:",year)
print("Month:",month)
print("Day:",days)

Enter number of days400
year: 1
Month: 1
Day: 5

In [ ]:
#largest among two numbers
a=int(input("Enter a number"))
b=int(input("Enter a number"))
if a<b:
  print(b," is larger than ",a)
elif a==b:
  print(a," is equal to ",b)
else:
  print(a," is greater than",b)

Enter a number10
Enter a number12
12  is larger than  10

In [ ]:
#Smallest fo three numbers
a=int(input("Enter a number "))
b=int(input("Enter a number "))
c=int(input("Enter a number "))
if a>b and b>c:
  print("")

Enter a number1
Enter a number2
Enter a number3
1  is the smallest number

In [ ]:
#check whether positive,negative or zero
a=int(input("Enter a number "))
if a==0:
  print("given number is zero")
elif a>0:
  print("given number is positive")
else:
  print("given number is negative")

Enter a number0
given number is zero

In [ ]:
#check whther a two digit number or not
a=int(input("Enter a number "))
d=0
if a/100>=1:
  print("Given number is not a two digit number")
elif a/10>=1:
  print("Given number is a two digit number")
else:
  print("Given number is not a two digit number")

Enter a number 100
Given number is not a two digit number

In [ ]:
#whether a number is multiple of another
a=int(input("Enter a number "))
b=int(input("Enter a number "))
f=a//b
if a/b==f:
  print("Given number is a multiple of the other")
else:
  print("Given number is not a multiple of the other")

Enter a number 12
Enter a number 3
Given number is a multiple of the other

In [ ]:
#smallest digit in a two digit number
a=int(input("Enter a two digit number "))
a1=a%10
a2=(a-a1)%10
if a1<a2:
  print(a1," is the smallest digit")
else:
  print(a2," is the smallest digit")

Enter a two digit number 10
0  is the smallest digit

In [ ]:
#distance between two points on number line
a=int(input("Enter a point on number line "))
b=int(input("Enter a point on number line "))
if a>0 and b>0:
  d=a-b
elif a<0 and b>0:
  d=b-a
else:
  d=(b-a)*(-1)
print(d," is the distance between given points")

Enter a point on number line 1
Enter a point on number line -1
2  is the distance between given points

In [ ]:
#nature of solutions of quadratic equation
a=int(input("Enter 'a' from equation "))
b=int(input("Enter 'b' from equation "))
c=int(input("Enter 'c' from equation "))
d=(b*b)-(4*a*c)
if d>=0:
  print("The given quadratic has real solutions")
else:
  print("The given quadratic has no real solutions")

Enter 'a' from equation 2
Enter 'b' from equation 3
Enter 'c' from equation 4
The given quadratic has no real solutions

In [ ]:
#sum of 'n' natural numbers
n=int(input("Enter the number of natural numbers "))
sum=(n*(n+1))/2
print("sum of ",n," natural numbers is ",sum)

Enter the number of natural numbers 10
sum of  10  natural numbers is  55.0

In [ ]:
#sum of factors of number
a=int(input("Enter a number "))
i=1
sum=0
while i<=a/2:
  if a%i==0:
    sum=sum+i
  i=i+1
sum=sum+a
print("sum of factors of ",n," is ",sum)

Enter a number 10
sum of factors of  10  is  18

In [ ]:
#arithmetic sequence
a=int(input("Enter the first element "))
d=int(input("Enter the common difference "))
n=int(input("Enter the number of terms required "))
an=a
while n>0:
  print(an)
  n=n-1
  an=an+d

In [ ]:
#first 'n' odd numbers
n=int(input("Enter number of digits required "))
i=1
while i<n*2:
  print(i)
  i=i+2

In [ ]:
#factorial of a number
num=int(input("Enter the integer "))
i=1
pro=i
if num>1:
  while i<=num:
    pro=pro*i
    i=i+1
  print("factorial of ",num," is ",pro)
elif num==0 or num==1:
  print("factorial of ",num," is 1",)

Enter the integer 1
factorial of  1  is 1

In [ ]:
#palindromic number
num=int(input("Enter a number "))
s=num
p=0
while s>0:
  p=p*10+s%10
  s=s//10
if num==p:
  print("Given number is palindromic")
else:
  print("Given number is not palindromic")

Enter a number 101
Given number is palindromic

In [ ]:
#armstrong number
num=int(input("Enter a number "))
s=num
p=0
r=0
while s>0:
  p=p*10+s%10
  s=s//10
  r=r+1
s=num
p=0
while s>0:
  p=p+(s%10)**r
  s=s//10
if p==num:
  print("given number is an armstrong number")
else:
  print("Given number is not an armstrong number")

Enter a number 9474
given number is an armstrong number

In [ ]:
#fibonacci series
x=int(input("Enter number of terms "))
if x==1:
  print(0)
elif x==2:
  print(0,",",1)
elif x>2:
  n1=0
  n2=1
  print(n1)
  print(n2)
  while x>2:
    n3=n1+n2
    n1=n2
    n2=n3
    x=x-1
    print(n3)

Enter number of terms 5
0
1
1
2
3

In [ ]:
#x^n using loops
x=int(input("Enter number "))
n=int(input("Enter power "))
i=1
p=x
while i<n:
  p=p*x
  i=i+1
print(p)

Enter number 10
Enter power 10
10000000000

In [ ]:
#GCD of two numbers
a=int(input("Enter a number "))
b=int(input("Enter a number "))
i=1
while i<=a/2 or i<=b/2:
  if a%i==0 and b%i==0:
    d=i
  i=i+1
print("GCD of ",a," & ",b," is ",d)

In [ ]:
#checking if prime
c=0
n=int(input("Enter a number="))
f=2
while f<=n//2:
  if n%f==0:
    c=c+1
    break
  f=f+1
if c==0:
  print(n,"is prime")
else:
  print(n,"is not prime")

In [ ]:
#sum of arithmetic series upto n terms
a=int(input("Enter the first element "))
d=int(input("Enter the common difference "))
n=int(input("Enter the number of terms required "))
an=a
sum=0
while n>0:
  sum=sum+an
  n=n-1
  an=an+d
print(sum)

Enter the first element 1
Enter the common difference 1
Enter the number of terms required 10
55

In [ ]:
#decimal equivalent of a binary numbver
binary=int(input("Enter a biinary number "))
i=0
n=binary
s=0
while n>0:
  s=s+(n%10)*(2**i)
  n=n//10
  i=i+1
print("Decimal value=",s)

Enter a biinary number 101001
Decimal value= 41

In [ ]:
#check whether automorphic number(integer whose square ends with given integer)
num=int(input("Enter a number "))
s=num
p=0
r=0
while s>0:
  p=p*10+s%10
  s=s//10
  r=r+1
s=num*num
p=s%(10**r)
if num==p:
  print("Given number is automorphic")
else:
  print("Given number is not automorphic")

Enter a number 6
Given number is automorphic

Container datatypes

In [ ]:
#dictionary container
Imsc={1:'adithyan',2:'amjad',3:'ashfaq'}
for id,name in Imsc.items():
  print(id)
  print(name)

1
adithyan
2
amjad
3
ashfaq

In [ ]:
#reverse the list
l1=[]
l2=[]
n=int(input("Enter number of terms in list "))
for i in range(n):
  ele=input("Enter term ")
  l1.append(ele)
print("list before reversing=",l1)
for i in range(n-1,0,-1):
  l2.append(l1[i])
print("list after reversing=",l2)

Enter number of terms in list 5
Enter term asdjkh
Enter term asdj
Enter term afslh
Enter term zv,mn
Enter term jksa
list before reversing= ['asdjkh', 'asdj', 'afslh', 'zv,mn', 'jksa']
list after reversing= ['jksa', 'zv,mn', 'afslh', 'asdj']

In [ ]:
#concate two list index wise
l1=[]
l2=[]
l3=[]
n=int(input("Enter number of terms in list "))
for i in range(n):
  ele=input("Enter term of first list ")
  l1.append(ele)
  ele=input("Enter term of second list ")
  l2.append(ele)
  l3.append(l1[i]+l2[i])
print(l3)

Enter number of terms in list 3
Enter term of first list bread
Enter term of second list is
Enter term of first list good
Enter term of second list for
Enter term of first list health
Enter term of second list i
['breadis', 'goodfor', 'healthi']

In [ ]:
#square of items in a list with values from 1 to 10
l1=[]
for i in range(1,11):
  l1.append(i)
square=[i*i for i in l1]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#remove empty string from a list of strings
l1=[" ","my",' ',"name"," ",'is'," ",12345]
l2=[i for i in l1 if i!='']
print(l2)

['my', 'name', 'is', 12345]

In [ ]:
#find a particular item in a list and square it
l1=[1,3,10,330,12,13]
item=int(input("Enter the item to find "))
try:
  n=l1.index(item)
  print(item," is ",n,"th element in list")
  l1[n]=int(l1[n])*int(l1[n])
  print(l1)
except ValueError:
  print("Given item is not in list")

In [ ]:
#remove all occurence of a specific item from the list
l1=[1,3,10,330,12,13,10,10,1013]
item=int(input("Enter the item to remove "))
print("list before doing operation ",l1)
x=[i for i in l1 if i!=item]
print("list after doing operation ",x)

Enter the item to remove 10
list before doing operation  [1, 3, 10, 330, 12, 13, 10, 10, 1013]
list after doing operation  [1, 3, 330, 12, 13, 1013]

In [ ]:
#create a tuple with different datatype and reverse it
t1=(10,'asdd',434,765) 
t2=t1[::-1] 
print("before reversing",t1)
print("after reversing",t2)

before reversing (10, 'asdd', 434, 765)
after reversing (765, 434, 'asdd', 10)

In [ ]:
#count number of occurence of an item from a tuple
t1=(10,434,765,1,3,10,330,12,13,10,10,1013)
item=int(input("Enter the item to remove "))
count=0
for i in t1:
  if i==item:
    count+=1
print(count)

Enter the item to remove 10
4

In [ ]:
#unpack tuple into several variables
t1=(10,434,765,1,3,10,330,12,13,10,10,1013)
for i in range(len(t1)):
  a=t1[i]
  print(a)

10
434
765
1
3
10
330
12
13
10
10
1013

In [ ]:
#element wise sum of tuple
a=(1,10,15)
b=(2,3,8)
c=[i+j for i,j in zip(a,b)]
c=tuple(c)
print(a,"+",b,"c)

(3, 13, 23)

In [ ]:
#tuple to dictionary
a=('ahhd','adzxc','xdfe','sadfd')
b=(range(1,len(a)+1))
a=dict(zip(a,b))
print(a)

{'ahhd': 1, 'adzxc': 2, 'xdfe': 3, 'sadfd': 4}

In [ ]:
#remove an item from a set if present
s1={1,0,14,15,61,17,13,21,12}
item=int(input("Enter the item to remove "))
print("set before doing operation ",s1)
x=[i for i in s1 if i!=item]
x=set(x)
print("set after doing operation ",x)

Enter the item to remove 10
set before doing operation  {1, 3, 10, 330, 12, 13, 1013}
set after doing operation  {1, 3, 330, 12, 13, 1013}

In [ ]:
#intersection of sets
s1={10,12,13,14}
s2={1,0,14,15,61,17,13,21,12}
print(s1.intersection(s2))

{12, 13, 14}
{10, 12, 13, 14}

In [ ]:
#max and min value in a set
s1={1,0,14,15,61,17,13,21,12}
s1=sorted(s1)
print("maximum value:",s1[1])
print("minimum value:",s1[-1])

maximum value: 1
minimum value: 61

In [ ]:
#check if 2sets have no elemenets in common
s1={0,1,14,15,61,17,21}
s2={1,3,10,330,12,13,1013}
flag=0
for i in s1:
  for j in s2:
    if i==j:
      flag=1
      break;
if flag==1:
  print("Given set has common elements")
else:
  print("Given set has no common elements")

Given set has common elements

In [ ]:
#sort a dictionary by value
d1={"barc":20,"javed":14,"parkins":25,"ons":30,"jabud":45}
d1=dict(sorted(d1.items(),key=lambda item:item[1]))
print(d1)

{'javed': 14, 'barc': 20, 'parkins': 25, 'ons': 30, 'jabud': 45}

In [ ]:
#concatinate a dictionary to create a new one
d1={"barc":20,"javed":14,"parkins":25,"ons":30,"jabud":45}
d2={'ahhd': 1, 'adzxc': 2, 'xdfe': 3, 'sadfd': 4}
d3={**d1,**d2}
print(d3)

{'barc': 20, 'javed': 14, 'parkins': 25, 'ons': 30, 'jabud': 45, 'ahhd': 1, 'adzxc': 2, 'xdfe': 3, 'sadfd': 4}

In [ ]:
#print a dictionary with keys range10-20,and values are squares of keys
d1={i**2:i for i in range(10,21)}
print(a)

{100: 10, 121: 11, 144: 12, 169: 13, 196: 14, 225: 15, 256: 16, 289: 17, 324: 18, 361: 19, 400: 20}

In [ ]:
#remove duplicate from dictionary
d1={"barc":20,"parkins":25,"parkins":25,"asvasd":25,"ons":30,"jabud":45}
d2=[]
res=dict()
for key,val in d1.items():
  if val not in d2:
    d2.append(val)
    res[val]=key
print(res)

{20: 'barc', 25: 'parkins', 30: 'ons', 45: 'jabud'}

In [ ]:
#create dictionary from string
strin=str(input("Enter a string "))
res=dict()
for i in range(len(strin)):
  res[i]=strin[i:i+1]
print(res)

Enter a string blaaabla
{0: 'b', 1: 'l', 2: 'a', 3: 'a', 4: 'a', 5: 'b', 6: 'l', 7: 'a'}

In [ ]:
num=int(input("Enter a number "))
l1=[i*i for i in range(1,num+1) if i%2==0]
print(l1)

Enter a number 6
[4, 16, 36]

In [ ]:
num=int(input("Enter a number "))
l1=[i*i*i if i%3==0 else i*i if i%2==0 else i for i in range(1,num+1) ]
print(l1)

Enter a number 6
[1, 4, 27, 16, 5, 216]